/*~~~~~~~~~~~~~~~~~~~GENERAL~~~~~~~~~~~~~~*/
body {
  background-color: #E5E5E5;
  margin: 0;
  font-family: 'PT Mono', monospace;
  font-size: 20px;
}

h1, h2{
  font-family: 'Press Start 2P', cursive;
}

h1{
  font-size: 50px;
}
header{
  color: white;
  background-color: #14213D;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px
}

h2{
  margin-top: 50px;
}

.headpic{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}


/*~~~~~~~~~~~~~~~~~~~~CONTENT WRAP~~~~~~~~~~~~~~~~*/
.content-wrap{
  max-width: 800px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

.content-wrap h2, h3{
  text-align: center;
}



/*~~~~~~~~~~DROPDOWN MENU~~~~~~~~~~~~~~~~~~*/


.btn {
  background-color: #fca311;
  color: black;
  padding: 16px;
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  border: none;
  min-width: 140px;
  font-size: 30px;
  text-align: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}




/*~~~~~~~~FLOATING MENU~~~~~~~~~~*/
.floating-menu {
    font-family: 'PT Mono', monospace;
    font-size: 20px;
    background: #fca311;
    padding: 10px;
    width: 130px;
    z-index: 200;
    position: fixed;
  }
.floating-menu a, 
.floating-menu h3 {
    font-size: 0.9em;
    display: block;
    margin: 0 0.5em;
    color: black;
 }
.floating-menu a:hover {
    font-size: 0.9em;
    display: block;
    margin: 0 0.5em;
    color: blue;
    font-weight: bold;
}

ul{
  list-style: none;
  background-color: #fca311;
  color: black;
  padding: 16px;
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  border: none;
  min-width: 140px;
  text-align: center;
}

#drop ul {
  display: none;
}

/*#drop ul :hover{
  display: inline;
}*/